.page nav.navbar {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}
.page nav.navbar .nav-item .nav-link {
    color: #111 !important;
}
@media (max-width: 991px) and (min-width: 768px) {
    .navbar-toggler span {
        color: #111 !important;
    }
}
@media (max-width: 767px) {
    .page .navbar-toggler span {
        color: #111;
    }
    .logo img {
        width: 80px !important;
    }
    .footer-logo img {
        width: 100px !important;
    }
}
.contact-page .single-contact-info {
    align-items: initial;
}
.contact-page .contact-info-text {
    width: 80%;
}
.theme-footer-area {
    background: unset;
}
.footer-copyright p {
    color: #525459;
}
.footer-social ul li a {
    background-color: #ffcd00;
    color: #525459;
}
.footer-social ul li a:before {
    background-color: rgb(255 205 1);
}
.single-contact-info {
    background: #ffcd00 none repeat scroll 0 0;
}
.contact-info-icon {
    color: #525459;
}
.heading_overlay {
    background-color: #ffcd00;
}
.theme-btn {
    background-color: #525459 !important;
}
.subscribe-box form i {
    color: #525459;
}
.bg-shape {
    background: #ffcd00 none repeat scroll 0 0;
}
.preloader:before, .preloader:after {
    background: #ffcd00;
}
.why-choose-us .choose-icon {
    width: 60px;
}
.why-choose-us .choose-text {
    width: 85%;
}
.why-choose-us .fa-snowflake-o {
    top: 18px;
    left: -2px;
}
.choose-left ul li.active.choose-box, .choose-left ul li.choose-box:hover {
    background: #ffcd00 none repeat scroll 0 0;
}
.choose-left ul li.active.choose-box .choose-icon i:before, .choose-left ul li.choose-box:hover .choose-icon i:before {
    color: #525459;
}
.choose-icon:after {
    background: rgb(255 205 0 / 49%);
}
.choose-icon {
    background: #ffcd00 none repeat scroll 0 0;
}
.single-feature .feature-icon {
    background-color: #ffcd00;
}
.single-feature .feature-icon:before {
    background-color: rgb(255 205 0 / 0.29);
}
.single-feature .feature-icon:after {
    background-color: rgb(255 205 0 / 0.45);
}
.site-heading h4, .about-heading h4, .choose-heading h4, .faq-heading h4 {
    color: #525459;
    background-color: rgb(255 205 0 / 0.22);
}
.choose-right {
    margin-top: 20px;
}
.single-choose-item img {
    width: auto !important;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
}